* {
	background-color: black;
	color: white;

	font-family: Arial;
}

.homeDiv {
	margin-top: 10%;
	text-align: center;
}

.btn {
	width: 160px;
	height: 40px;

	color: black;
	background-color: white;

	font-size: 18px;

  	border-radius: 30px;
}

.section {
	margin-top: 10%;
	margin-left: 10%;
	float: left;
	overflow: hidden;
}